@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

:root
{
	--primary-color: #056162;
	--secondary-color: #131C21;
	--active-color: #2A2F32;
}

*
{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body
{
	margin: 0;
}

.App
{
	height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
	overflow: hidden;
	margin: 0;
	background: linear-gradient( 180deg, var(--primary-color) , #000 );
}

.text-input
{
	padding: 1rem;
	width: 50%;
	min-width: 200px;
	margin: 1rem auto;
	border: none;
	border-radius: inherit;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn
{
	cursor: pointer;
	width: 50%;
	padding: 1rem;
	margin: 1rem auto;
	background-color: var(--primary-color);
	border-radius: inherit;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color: #eeeeee;
	font-size: 1rem;
}

.text-input:focus , .btn:focus
{
	outline: none;
}