
.sidebar
{
    position: relative;
    border-right: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    width: 25%;
    min-width: 200px;
    color: #eee;
    overflow: auto;
}

.sidebar .username
{
    padding: 2rem;
    margin: 0;
    text-align: center;
    background-color: var(--active-color);
}

.sidebar .contacts .contact
{
    position: relative;
    padding: 1rem 0.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar .contacts .contact .messages-to-read
{
    position: absolute;
    display: none;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
}

.sidebar .contacts .contact .display
{
    display: flex;
}

.sidebar .contacts .contact .online
{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    display: inline-block;
}

.sidebar .contacts .contact .online-true
{
    background-color: greenyellow;
}

.sidebar .contacts .contact .online-false
{
    background-color: red;
}

.sidebar .contacts .contact:hover, .sidebar .contacts .active
{
    background-color: var(--active-color);
}

.sidebar .toggle-add-conversation
{
    position: fixed;
    top: 21%;
    left: 20%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) 
{
    .sidebar
    {
        width: 100vw;
        height: 100vh;
        display: block;
        max-width: none;
    }
}