
.login
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.login h1
{
    font-size: 3rem;
}